div.gantt {
   width: 100%;
   overflow: hidden;
}


#GanttChartDIV * {
padding:0 !important;
margin:0 !important;
border-style: none;
}

#GanttChartDIV:hover {
background-color: inherit;
}

#GanttChartDIV *:hover {
background-color: inherit;
}

#GanttChartDIV table tr:hover td {
background-color: inherit;
}
