
#getdirections_directions {
  width: 250px;
  padding: 2px;
}

#getdirections_map_canvas {
}
.getdirections {
  margin-top: 8px;
}
.getdirections-list {
  background: #FFFFFF;
}
.getdirections-map {
  padding: 2px;
  border: 1px solid #C0C0C0;
  text-align: center;
  background: #FFFFFF;
  vertical-align: top;
}

.getdirections_display {
  margin-bottom: 8px;
}
.getdirections_display label {
  font-weight: 600;
}

tbody, thead {
  border-top: 0;
  border-bottom: 0;
}

.getdirections_returnlink {
  margin-bottom: 8px;
}
#getdirections_trafficinfo {
  margin-bottom: 8px;
}
#getdirections_bicycleinfo {
  margin-bottom: 8px;
}
#getdirections_panoramio {
  margin-bottom: 8px;
}
#getdirections_switchfromto {
  margin-bottom: 8px;
}
#getdirections_show_distance {
  margin-top: 8px;
}
#getdirections_show_duration {
  margin-top: 8px;
}
