@CHARSET "UTF-8";


#stormticket-assignment-assignment-form-persons-wrapper {
	float:left;
	width:50%;
}

#stormticket-assignment-assignment-form-tickets-wrapper {
	float:right;
	width:50%;
}


li.stormticket-assignment-assign-tickets-ticket {
   padding: 0.5em; 
   margin: 10px 10px 10px 0;
   border: 1px solid;
   background-color:#EEEEEE;
   background: none;
   list-style-type: none;
}

div.stormticket-assignment-assign-tickets-person {
  padding: 0.5em; 
  margin: 10px 10px 10px 0;
  border: 1px solid;
  background-color:#DDDDDD;
}

.stormperson-tickets {
  display:none;
}

.project-shedule-stormticket {
	margin-left: 20px;
}

.stormperson-utilisation-assigned-tickets label{
  font-weight:bold;
}

div.ui-state-highlight {
  background-color:#DDCCAA;
}


td.ticket-today-datebegin {
  color: green;
  font-weight:bold;
}

td.ticket-today-dateend {
  color: green;
  font-weight:bold;
}

td.ticket-overdue-datebegin {
	color: orange;
	font-weight:bold;
}

td.ticket-overdue-dateend {
	color: red;
	font-weight:bold;
}

td.unassigned {
	color:red;
	font-weight:bold;
}

#storm-dependencies-depends-on {
	font-size: 10px;
}
